<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CogIMon Docs{% if page.title %} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="The CogIMon Project">
    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <!-- <link href="/css/monokai.css" rel="stylesheet"> -->
    <link href="/css/one-dark.css" rel="stylesheet">

    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/docs.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <style>
    </style>
    <script type="text/javascript" async src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
  </head>
  <body>
    <!-- including ECharts file -->
    <script src="/assets/js/echarts.min.js"></script>
    <!--<a href="https://github.com/driftyco/jetstrap-docs"><img style="position: absolute; z-index: 10000; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>-->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand"><img src="https://cogimon.eu/sites/cogimon.eu/files/cogimon-corlab-groesse.jpg"></a>
          <ul class="nav pull-right">
            <li><a href="http://cogimon.eu/">About CogIMon</a></li>
            <!-- <li><a href="http://cogimon.eu/">About</a></li> -->
            <!--<li><a href="http://jetstrap.com/#love">Love</a></li>-->
            <li><a href="https://cogimon.eu/news" target="_blank">News</a></li>
           <li style="line-height: 59px; vertical-align: middle"><a target="_blank" href="https://github.com/cogimon/cogimon.github.io" class="orange-button">Fork This!</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <ul id="menu" class="nav nav-list" data-spy="affix">
            <li class="nav-header">Overview</li>
            <li data-section=""><a href="/">Concepts</a></li>
            <li class="nav-header">Examples</li>
            <!-- <li data-section="examples/todo1"><a href="/">Hello World: 2d Pendulum</a></li> -->
            <li data-section="examples/new-orocos-rtt-component"><a href="/examples/new-orocos-rtt-component.html">Creating an RTT Component</a></li>
            <li data-section="examples/projected-dynamics"><a href="/examples/projected-dynamics.html">Advanced Example: Projected Dynamics</a></li>
            <li class="nav-header">Modeling</li>
            <li data-section="modeling/workbench"><a href="/modeling/workbench.html">Workbench</a></li>
            <li data-section="modeling/architecture"><a href="/modeling/architecture.html">Architecture</a></li>
            <li data-section="modeling/development-process"><a href="/modeling/development-process.html">Development Process</a></li>
            <!--li data-section="simulation/modeling"><a href="/simulation/modeling.html">Features</a></li-->
            <li class="nav-header">Runtime</li>
            <li data-section="runtime/gettingstarted"><a href="/runtime/gettingstarted.html">Installation</a></li>
            <li data-section="runtime/overview"><a href="/runtime/overview.html">Features</a></li>
            <li class="nav-header">Simulation</li>
            <li data-section="simulation/simulation"><a href="/simulation/simulation.html">CoSimA</a></li>
            <li data-section="simulation/robot-models"><a href="/simulation/robot-models.html">Robot Models</a></li>
            <li class="nav-header">Component Library</li>
            <li data-section="ccl/overview"><a href="/ccl/overview.html">Overview</a></li>
            <!-- <li data-section="ccl/non-core"><a href="/ccl/non-core.html">Non-Core Components</a></li> -->
            <li class="nav-header">SUPPORT</li>
            <li data-section="support/faq"><a href="/support/faq.html">FAQ</a></li>
            <li><a href="mailto:info@cogimon.eu">Get in Touch!</a></li>
            <li>&nbsp;</li>
            <li class="nav-header" style="padding-left: 0.2em;"><a class="twitter-timeline" href="https://twitter.com/sebwrede/timelines/711240846507712512" data-widget-id="711243640895627266" width="180" data-chrome="nofooter noborders">CogIMon Software</a></li>
          </ul>
        </div>
        <div>

        </div>
        <div class="span9">
{{content}}
      </div>
      </div>
    </div>

    <style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/assets/js/bootstrap.js">
    </script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
    </script>



<!--     <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33987438-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script> -->
  </body>
</html>
